@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    z-index: 1;
}
body{
    background-color: black;
    color: #fff;
    z-index: 100;
}
#header {
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    position:fixed;
    background-color:black;
    z-index: 100;

}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.container{
    padding: 10px 40px;
    background: transparent;
    z-index: 1;
    background-color:black;
    z-index: 1000;
}
.container div{
    z-index: 1;
}
.container h1{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    z-index: 1;

}
.container ul li a{
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    z-index: 1;
    width: 200px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color:grey;
    text-decoration: none;
    font-size: 18px;
    align-items: left;
    position: relative;

}

nav ul li a:hover{
    width: 100%;
    color: white;
}
.container1{
  padding-top: 70px;
}
.image{
  display: flex;
}
.image img{
  height: 550px;
  width: 1000px;
  padding-left: 7cm;
  padding-top: 100px;
  opacity: 80%;

}


.about-col-2{
  flex-basis: 60%;
  margin-bottom: 0px;
  z-index: 1;
  padding-top: 100px;

}
.about-col-2 div{
  z-index: 1;
  align-items: center;
  
}
.about-col-2 p{
  flex-basis: 60%;
  font-size: 20px;
  z-index: 1;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.about-col-2 h1{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  z-index: 100;
  text-align: center;
  padding-left: 10px;
}


.slider-frame{
  overflow: hidden;
  height: 500px;
  width: 900px;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 20px;
}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left:0px;}
}

@-webkit-keyframes slide_animation{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left:0px;}
}

.slide-images{
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container{
  height: 800px;
  width: 1200px;
  float: left;
  display: flex;
}
.incharges-box {
  width: auto;
  height: auto;
  padding: 25px;
  line-height: 35px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #43ae62;
  justify-content: space-between;
}
.incharges-box h2 {
  font-size: 18px;
  color: #11c7e7;
}
.incharges-box h1 {
  font-size: 22px;
  color: #cecece;
  letter-spacing: .6px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.incharges-box a {
  color: #43ae62;
  font-size: 17px;
}
.row{
  display:flex;
  padding-top: 2cm;
  padding-left: 7cm ;
  flex-wrap: wrap;
  margin-top: 0%;

}
.box {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #edf3f9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  transition: all 0.3s ease;
}
.box::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  transition: all 0.3s ease;
}
.box-animation::before {
  animation: animateInputBorder 4s linear infinite;
  animation-delay: -2s;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
}
.box-animation::after {
  animation: animateInputBorder 4s linear infinite;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #d400d4
  );
}
@keyframes animateInputBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box span {
  position: absolute;
  inset: 3px;
  background-color: #edf3f9;
  border-radius: 10px;
  z-index: 2;
}
.box span input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 20px;
  padding: 16px;
  position: relative;
}
.box span input:focus {
  outline: none;
  box-shadow: none;
}
.form-container {
  padding: 70px 0px;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 50%;
  transition: 0.3s;
  min-height: 540px;
  z-index: 1;
  display: inline-flex;
  align-items: center;
}

.left-right .login-form {
  transform: translateX(-100%);
}
.form-wraper .input-group:not(:last-child) {
  margin-bottom: 30px;
}
.signUp-form {
  transform: translateX(100%);
}
.left-right .signUp-form {
  transform: translateX(0%);
}
.form-wraper {
  padding: 0px 40px;
  position: absolute;
  width: 100%;
  transition: 0.3s;
}
.action-button button {
  border-radius: 10px;
  font-family: "Avenir Next";
  font-size: 20px;
  padding: 0.5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(248, 0, 0, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg,transparent,transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: none;
  color: #edf3f9;
  width: 100%;
  padding-left: 40px;
  margin-top: 30px;
  transition: all 0.3s ease;

}
.action-button button a{
  color: black;
}

.action-button button:hover {
  color: rgb(20, 20, 20);
  box-shadow: 2px 1000px 1px #edf3f9 inset;
}
.form-title {
  margin-bottom: 30px;
}
.main-form-container {
  min-width: 800px;
  background-color: rgba(0, 0, 0, 0.152);
  border-radius: 10px;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  padding-top: 400px;
  padding-left: 80px;
}
.bg-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.left-right {
  transform: translateX(100%);
}
.section {
  min-height: 800px;
  padding-top: 1000px;
}
.containers{ 
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: transparent;
}
.content{
   background-color:transparent;
   width:500px;
   height:500px;
}

.form-title{
   padding:10px 40px 0px;
}
form{
   padding:0px 40px;
}
input[type=text], [type=email]{
   border: none;
   border-bottom: 1px solid black;
   outline:none;
   width:100%;
   margin: 8px 0;
   padding:10px 0;
}
input[type=number]{
   border: none;
   border-bottom: 1px solid black;
   outline:none;
   margin: 8px 0;
   padding:5px 0;
}
input :hover {
   background-color: red;
}
select{
   border: none;
   border-bottom: 1px solid black;
   outline:none;
   margin: 8px 0;
   padding:5px 0;
   width:50%;
}
.beside{
   display:flex;  
   justify-content: space-between;
}
button{
   color:#ffffff;
   background-color: #4caf50;
   height:40px;
   width:25%;
   margin-top:15px;
   cursor: pointer;
   border:none;
   border-radius:2%;
   outline:none;
   text-align:center;
   font-size:16px;
   text-decoration:none;
   -webkit-transition-duration:0.4s;
   transition-duration:0.4s;
}
button:hover{
   background-color:#333333;
}
